@import url("styles/header.css");
@import url("styles/habilidades.css");
@import url("styles/projetos.css");
@import url("styles/contatos.css");
@import url("styles/rodape.css");
@import url("styles/cursos.css");

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

:root {
  --cor-fundo: #1C1C1C;
  --preto: #000000;
  --branco: #EAEAEA;
  --sombra-texto: 1px 1px 3px #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Special Gothic Expanded One', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--branco);
}

/* SEÇÕES GERAIS */
.apresentacao,
.formacoes,
.cursos,
.habilidades,
.projetos,
.contatos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

.apresentacao__titulo,
.formacoes__titulo,
.cursos__titulo,
.habilidades__titulo,
.projetos__titulo,
.contatos__titulo {
  font-size: 37px;
  margin-bottom: 20px;
  text-shadow: var(--sombra-texto);
}

.apresentacao__texto,
.formacoes__texto,
.cursos__texto,
.habilidades__texto,
.projetos__texto,
.contatos__texto {
  font-size: 16px;
  margin: 15px 0 30px;
}