@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo: #1C1C1C;
  --cor-fmenu: #000000;
  --cor-conteudo: #EAEAEA;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--cor-fmenu);
  flex-wrap: wrap;
  gap: 20px;
}

.cabecalho__menu {
  display: flex;
  gap: 50px;
}

.cabecalho__menu__link {
  font-size: 15px;
  text-shadow: 1px 1px 3px var(--cor-conteudo);
}

/* MENU PRINCIPAL */
.cabecalho__menu {
  display: flex;
  gap: 40px;
}

.cabecalho__menu__link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 3px #e0e0e0;
  transition: color 0.3s ease, transform 0.2s ease;
}

.cabecalho__menu__link:hover {
  color: #ffffff;
  transform: translateY(-2px);
  text-shadow: 2px 2px 6px #ffffff66;
}

/* LINKS (INSTAGRAM, LINKEDIN, GITHUB) */
.cabecalho__icon{
  width: 35px; 
  height: 35px; 
}
.cabecalho__links {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.cabecalho__links a {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  gap: 5px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cabecalho__links a:hover {
  transform: translateY(-2px);
}

/* Corpo da página */
body {
  font-family: "Special Gothic Expanded One", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-conteudo);
}

/* Estilo botão*/
#botao__topo {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: var(--cor-fmenu);
  color: var(--cor-conteudo);
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: block;
}

#botao__topo:hover {
  background-color: #444;
  transform: scale(1.1);
}

/* SEÇÃO SOBRE MIM */

.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 60px 20px;
}

.apresentacao__sobremim {
  max-width: 700px;
  width: 90%;
}

.apresentacao__titulo {
  font-size: 37px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px var(--cor-conteudo);;
}

.apresentacao__texto {
  font-size: 17px;
}

/* SEÇÃO HABILIDADES */
.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 40px 20px;
}

.habilidades__titulo {
  font-size: 37px;
  text-shadow: 1px 1px 3px var(--cor-conteudo);;
}

.habilidades__texto {
  font-size: 17px;
  margin: 15px 0 30px;
}

.habilidades__icones {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-conteudo);
  text-shadow: 1px 1px 6px var(--cor-conteudo);
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.habilidades__item:hover {
  transform: scale(1.1);
}

.habilidades__icon {
  margin-top: 15px;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

/* SEÇÃO PROJETOS */
.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 40px 20px;
}

.projetos__titulo {
  font-size: 37px;
  text-shadow: 1px 1px 3px var(--cor-conteudo);;
}

.projetos__texto {
  font-size: 10px;
  margin: 15px 0 30px;
}

.projetos__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projetos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.projetos__img {
  border-radius: 10%;
  border-style: solid;
  border-width: 3px; /* Espessura da borda */
  border-color: var(--cor-conteudo); /* Cor da borda (exemplo: preto) */
  box-shadow: 1px 1px 6px #EAEAEA;
  transition: transform 0.3s;
}

.projetos__img:hover {
  transform: scale(2.2);
}

.img-carrinho {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.img-lista {
  max-width: 100px;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .img-carrinho {
    max-width: 100px;
  }

  .img-lista {
    max-width: 70px;
  }
}

.tema__texto {
  font-size: 10px;
  color: var(--cor-conteudo);
  text-shadow: 1px 1px 3px var(--cor-conteudo);
}

/* SEÇÃO CONTATOS */
.contatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 40px 20px;
}

.contatos__titulo{
  font-size: 37px;
  text-shadow: 1px 1px 3px var(--cor-conteudo);;
}

.contatos__texto {
  font-size: 17px;
  margin: 15px 0 30px;
}

.contatos__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.contatos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.contatos__icon {
  width: 70px;
  height: 70px;
  transition: transform 0.3s;
}

.contatos__icon:hover {
  transform: scale(1.1);
}

.social__texto {
  font-size: 16px;
  color: var(--cor-conteudo);
  text-shadow: 1px 1px 3px var(--cor-conteudo);
}

.contatos__curriculo {
  display: flex;
  justify-content: center;  
  width: 100%;              
  margin-top: 30px; 
}

.cv__download {
  background-color: var(--cor-conteudo);
  color: var(--cor-fmenu);; 
  padding: 20px 20px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: 30px;
}

.cv__download:hover {
  transform: scale(1.1);
}


/* RODAPE */
.rodape {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  background-color: var(--cor-conteudo);
  color: #000000;
  font-size: 10px;
}
