.cursos-lista,
.cursos ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  font-size: 14px;
}

.titulo-secundario {
  margin: 1em 0;
  font-size: 20px;
}

.item-lista {
  margin: 0.5em 0;
}