.habilades {
  display: flex;
  justify-content: center;
  text-align: center;
}

.habilidades__icones {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  text-shadow: 1px 1px 6px var(--branco);
  transition: transform 0.3s ease;
}

.habilidades__item:hover {
  transform: scale(1.1);
}

.habilidades__icon {
  width: 70px;
  height: 70px;
  margin: 15px 0 10px;
}

