.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;    
  background-image: url("../img/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabeçalho {
  background-color: var(--preto);
  display: flex;
  align-items: center;
  position: relative;
  padding: 1em 2em;  
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  width: 64px;
  height: 40px;
}

.container__links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.container__icon {
  width: 40px;
  margin: 0.5em;
  height: 40px;
  transition: transform 0.3s ease;
}

.container__icon:hover {
  transform: translateY(-2px);
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__link {
  background: var(--preto);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

/* BOTÃO VOLTAR AO TOPO */
#botao__topo {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: var(--preto);
  color: var(--branco);
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

#botao__topo:hover {
  background-color: #444;
  transform: scale(1.1);
}

.container__botao {
  display: none;
}

.opções {
    display: none;
}

@media screen and (min-width: 720px){
 .cabeçalho__menu-hamburguer {
  display: none;
 }

 .opções {
 display: flex;
 gap: 20px;
 }

 .opções__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--branco);
  text-decoration: none;
  text-shadow: var(--sombra-texto);
  transition: transform 0.3s ease;
 }

 .opções__link:hover {
  transform: translateY(-2px);
  text-shadow: 1px 1x 3px #ffffff66;
 }
}