.projetos__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projetos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projetos__img {
  border-radius: 10%;
  border: 3px solid var(--branco);
  box-shadow: 1px 1px 6px var(--branco);
  transition: transform 0.3s;
}

.projetos__img:hover {
  transform: scale(2.2);
}

.img-carrinho {
  max-width: 200px;
}

.img-lista {
  max-width: 100px;
}

.img-alura {
  max-width: 200px;
  aspect-ratio: 7 / 4;
  object-fit: cover;
}

.img-seunoura {
    max-width: 200px;
  }

@media (max-width: 480px) {
  .img-carrinho {
    max-width: 100px;
  }
  .img-lista {
    max-width: 70px;
  }
  .img-alura {
    max-width: 100px;
  }
  .img-seunoura {
    max-width: 100px;
  }
}

.tema__texto,
.social__texto {
  font-size: 10px;
  color: var(--branco);
  text-shadow: var(--sombra-texto);
}

.social__texto {
  font-size: 16px;
}